{% extends 'base.html.twig' %}

{% block title %}Hello DummyController!{% endblock %}

{% block body %}


<div class="container">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/Martin Senne/Documents/GitHub/fanclub/src/Controller/DummyController.php'|file_link(0) }}">src/Controller/DummyController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/Martin Senne/Documents/GitHub/fanclub/templates/dummy/index.html.twig'|file_link(0) }}">templates/dummy/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
